/*
 * Globals
 */

body {
    font-family: Cabin;
    color: #555;
    background-color: white;
}

a {
    color: #42517F;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #23530e;
}

p {
    font-size: 13px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 0px;
}

p:hover {
    border: 2px solid #73AD21;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333; /*  #006633;  /* #333; */
}

/* MASON GOLD: #FFCC33  */


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


/*
 * Masthead for nav
 */

.main-name {
    vertical-align: bottom;
    font-size:24px;
    line-height: 40px;
    font-weight: 400;
    font-variant: small-caps;
}

.icon-section {
    font-size: 16px;
}

.blog-masthead {
    background-color: white;   /* #428bca;  */
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-right: 55px;
    font-weight: bold;
    color: #87908F  /* #cdddeb; */
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #006633; /* #fff; */
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #006633;;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -25px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 14px;
    color: #000000;
}

.research-area {
    font-size: 16px;
    color: #000000;
}
.bio {
    font-size: 14px;
    color: #000000;
}


/*
 * Paper item lines
 */

.paper-title {
    font-weight: bold;
    font-size: medium;
}

.paper-link {
    font-weight: bolder;
    font-size: smaller;
}

.paper-line {
    margin-bottom: 3px;
}

.paper-img-cell {
    padding: 20px;
}

/*
 Teaching line items
*/
.teaching-line {
    margin-bottom: 10px;
}

/*
  Activities items
*/
.activities-list {
    font-size: 14px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 14px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.profile-side{
    font-size: 14px;
}
.sidebar-module {
    padding: 0px;
    margin: 0 0px 0px;
    font-size: 14px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: white;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    font-family: Cabin;
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


.research-section {
    font-size: 14px;
    background-color: white;
    border: 2px solid white;
}

.research-section:hover {
    border: 2px solid black;
}


/*
 * Footer
 */

.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: white;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

li {
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid #fff;
    margin: 0px;
}

/*li:hover {*/
    /*border: 2px solid #73AD21;*/
/*}*/

.img-circle {
    border-radius: 50%;
}

/* unvisited link */
a:link {
    color: #0148ff;
}

/* visited link */
a:visited {
    color: #0041ff;
}

/* mouse over link */
a:hover {
    color: #148830;
}

/* selected link */
a:active {
    color: blue;
}